<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-storage.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCTXm1JFbHiAqfLOHqh5IpGMzb4aYOtQV8",
    authDomain: "alnitekfiles.firebaseapp.com",
    databaseURL: "https://alnitekfiles.firebaseio.com",
    projectId: "alnitekfiles",
    storageBucket: "alnitekfiles.appspot.com",
    messagingSenderId: "428880692455",
    appId: "1:428880692455:web:7204f05e801606f9728e42"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

</script>

<script type="text/javascript">



</script>


</div>
</body>
</html>